{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'hackathon/css/hackathon.css' %}"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css">
{% endblock %}
{% load custom_tags %}
{% load account_tags %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><strong>Welcome to the Weekly Code Challenge!</strong></div>
                <div class="card-content"><p>Each week we will post a new challenge for you to solve. The challenge will be posted on Monday and you will have until Sunday to submit your solution. 
                    The solution will be posted the following Monday.</p></div>
                    <br>
                    {% if challenge %}
                        <h1>Welcome to this week's challenge!</h1>
                        <p>Description: {{ challenge.description }}</p>
                        <p>Problem: {{ challenge.problem }}</p>
                        <input type="text" id="solution" name="solution" placeholder="Enter your solution here">
                        <button id="submit">Submit</button>
                    {% else %}
                        <p>No challenges available at the moment.</p>
                    {% endif %}
                    <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'hackathon/js/hackathon.js' %}"></script>
{% endblock %}